<ion-header>
  <ion-toolbar>
    <ion-title>
      Terminal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class=" text-center" *ngIf="dataDHT">
        <ngx-gauge type="arch" [value]="dataDHT.Humidity" label="ความชื้น" append="%" [thresholds]="thresholdConfig">
        </ngx-gauge>
        <br>
        <ngx-gauge type="arch" [value]="dataDHT.Temperature" label="ความชื้น" append="%" [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>

    </ion-slide>
    <ion-slide>
     
    </ion-slide>
    <ion-slide>
    
    </ion-slide>
  </ion-slides>
</ion-content>